.dart_tool/
.packages
.pub-cache/
.pub/
build/
coverage/
.flutter-plugins
.flutter-plugins-dependencies
**/GeneratedPluginRegistrant.*
.idea/
.vscode/
.DS_Store
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/
android/.gradle/
